<% include ../head %>

<h1>Today I learned</h1>

<ul>
<% for(var i=0; i<til.length; i++) { %>
 <li>
   <h4><a href='/til/<%= til[i].id %>' ><%= til[i].slug %></a></h4>
   <%= til[i].body %>
   <a href='/til/<%= til[i].id %>/edit'>Edit</a>
   <button onclidk="href='/til/<%= til[i].id %">/delete'>Delete</button>
 </li>
<% } %>
</ul>
<% include ../footer %>
